@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

:root {
  --carolinaBlue: #0a8754;
  --powderWhite: #fdfffc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100vw;

  background-color: var(--carolinaBlue);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin: 0px 30px;
  color: #fff;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.header-links ul {
  display: flex;
  list-style: none;
}

.header-links li {
  margin-left: 20px;
}

.header-links ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 30rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 5rem 3rem 0 3rem;
  text-align: center;
}

.hero-section-header {
  max-width: 50rem;
  font-size: 4rem;
}

.hero-section-sub-header {
  max-width: 600px;
  margin-top: 2rem;
  font-size: 1.8rem;
}

.search-container {
  margin-top: 40px;
}

#search-box-input {
  height: 5rem;
  width: 30rem;
  margin-right: 1.5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #37393a;
  color: #fff;
}

#search-box-btn,
#my-ip-btn {
  height: 5rem;
  width: 9rem;
  margin-right: 0.5rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: #41658a;
  color: #fff;
}

#search-box-btn:hover,
#my-ip-btn:hover {
  background-color: #304c68;
}

#search-box-btn:active,
#my-ip-btn:active {
  scale: 0.95;
}

.results-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-container {
  width: 70rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #37393a;
  color: #fff;
  overflow-x: hidden;
}

.results p {
  margin-bottom: 0.5rem;
}

.results span {
  font-weight: bold;
}

#ip-address {
  color: #f75c03;
  margin-bottom: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100vw;
  color: #fff;
  background-color: #0a8754;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}
